<div class="container mt-3">
    <div class="mt-3">
        <a href="/v" id="back-button">
            <i class="fa-solid fa-arrow-left"> Back</i>
        </a>
    </div>
    <div class="row d-flex justify-content-center">
    <div class="col-11 col-md-10 col-lg-8 col-xl-6 border  glass rounded">
        <div class="h2  text-center mb-2 mt-3 p-3 text-info-emphasis">Your profile</div>
        <div id="whole-page-message-shower"></div>
        <div class="h6 text-sm-center mb-3 text-success-emphasis">update your banner and photo(optional)<img src="./website/downarrow.png" height="40px" class="position-absolute" style="margin-left: -10px;"></div>
        <div class="mt-3" style="width: 100%;">
            <div  style="width: 100%;">
                <input type="file" id="banner-input" class="d-none" accept="image/*" name="banner">
                <abbr title="banner that will make you look better (optional)" class="initialism text-decoration-none" >
                    <label for="banner-input" class="d-flex justify-content-end align-items-start" style="height: 100px; width: 100%; background-color: #dadde2;">
                        <i class="fa-regular fa-pen-to-square fa-xl position-absolute" style="color: #747c8b; margin-top: 7px;"></i>
                        <img id="banner-preview"  style="height: 100%;width: 100%; object-fit: cover;" src="<%=banner%>" >
                    </label>
                </abbr>
            </div>
            <div class="input-group mb-3 d-flex justify-content-center align-items-center " style="margin-top: -70px; width: auto;">
                <input type="file" id="photo-input" class="d-none" accept="image/*" name="photo">
                <abbr title="photo of you (optional)" class="initialism text-decoration-none">
                <label for="photo-input" class="rounded-circle d-flex justify-content-center align-items-center border border-white" style="height: 100px; width: 100px; background-color: #dadde2;">
                    <i class="fa-regular fa-pen-to-square fa-2xl position-absolute" style="color: #747c8b;"></i>
                    <img id="photo-preview" class="rounded-circle " style="height: 100%;width: 100%; object-fit: cover;" src="<%=photo%>">
                </label>
                </abbr>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Enter your name" aria-label="Username" id="name-input" value="<%=name%>" readonly>
                <div class="invalid-tooltip">
                    please provide name
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Enter your Email" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email" readonly value="<%=email%>">
                <span class="input-group-text" id="basic-addon2">Email</span>
                <div class="invalid-tooltip" id="email-error-shower">
                    please provide email
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-text">about</span>
                <textarea class="form-control" id="about-input" readonly ><%=about%></textarea>
                <div class="invalid-tooltip">
                    please provide about section
                </div>
            </div>
            <div class="mt-3 mb-2">
                <a class="icon-link icon-link-hover" id="forgot-password-link" href="/forgot-password?email=<%=email%>&from=my-profile&heading=Reset%20password">
                    reset password?
                </a>
            </div>
            <div class="d-flex mt-2 mb-2 justify-content-between" id="buttons-div">
                <div>
                    <button type="button" class="btn btn-danger  btn-sm"  btn-sm id="edit-button" onclick="deleteModelMaker()">Delete account</button>
                </div>
                <div>
                    <div id="edit-button-div">
                        <button type="button" class="btn btn-warning  btn-sm" id="edit-button" onclick="editButtonClick()">Edit</button>
                    </div>
                    <div id="edit-submit-div" class="d-none">
                        <button type="button" class="btn btn-outline-success  btn-sm" id="edit-submit" onclick="submitButtonClick(this)">submit</button>
                        <button type="button" class="btn btn-secondary  btn-sm" id="edit-close" onclick="closeButtonClick()">close</button>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    </div>
</div>